{% load static %}
<html lang="en">
<head>
  <title>Sports News</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
        <h5><a href="/">Home</a></h5>
  <h2>Enter Your Key here</h2>
  <form method="POST" action="{% url 'key' %}">
    {% csrf_token %}
    <div class="form-group">
      {{ form.key}}
    </div>
    <input type="submit" class="btn btn-success" value="Submit">
  </form>
</div>

</body>
</html>
